<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="form-group" style="max-width: 40%">
  <form>
    <div class="field">
      <%= form.label :name, "Username" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :email, "Email" %>
      <%= form.text_field :email, class: "form-control" %>
    </div>

    <div class=”field”>
     <%= form.label :password, "Password" %>
     <%= form.password_field :password, class: "form-control" %>
    </div>
   <br>
    <div class=”field”>
      <%= form.label:password_confirmation, "Confirmation" %>
      <%= form.password_field:password_confirmation, class: "form-control"%>
    </div>

    <div class="field">
      <%= form.label :bio, "Bio" %>
      <%= form.text_field :bio, style: "height:200px;width:500px" %>
    </div>

    <br>
    <div class="actions">
      <%= form.submit "Submit", class: "btn btn-dark" %>
    </div>
    <br>
  <% end %>
  </form>
