<p id="notice"><%= notice %></p>

<h2>Users</h2>
<% if current_user && current_user.admin %>
  <table class="table table-hover table-dark">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= "********" %></td>
          <td><%= link_to 'Show', user, class: "btn btn-light" %></td>
          <% if current_user && current_user.admin %>
          <td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-light" %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-light" %></td>

          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= paginate @users %>
<% else %>
  <% link_to 'Back', root_url %>
<% end %>
<br>
<%= link_to 'Create an account', new_user_path %>
<br>
<%= line_chart User.group_by_day(:created_at).count %>
