<p id="notice"><%= notice %></p>

<body>
  <h2>Distant Planets</h2>
  <div class="Search" style="margin: auto;float:center">
    <br>
    
    <%= form_tag(planets_path, method: :get) do %>
    <%= text_field_tag :term %>
    <%= submit_tag "Search", class: "btn btn-dark" %>
    <% end %>
  </div>
  <br>

  <table class="table table-striped table-dark">
    <thead class="thead-dark">
      <tr>
        <th>Planet name</th>
        <th>Planet host star</th>
        <th>Orbital period</th>
        <th>Distance (parsecs)</th>
        <th>Discovery telescope</th>
        <th>Year of discovery</th>
        <th>Last update</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @planets.each do |planet| %>
        <tr>
          <td><%= planet.pl_name %></td>
          <td><%= planet.pl_hostname %></td>
          <td><%= planet.pl_orbital_period %></td>
          <td><%= planet.distance %></td>
          <td><%= planet.discovery_telescope %></td>
          <td><%= planet.year_of_discovery %></td>
          <td><%= planet.last_update %></td>
          <td><%= link_to 'Show', planet, class: "btn btn-light" %></td>
          <% if current_user && current_user.admin %>
            <td><%= link_to 'Edit', edit_planet_path(planet), class: "btn btn-light" %></td>
            <td><%= link_to 'Destroy', planet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-light" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= bar_chart Planet.group_by_day_of_month(:last_update, format: "%a").count, xtitle: "Number of Planets Discovered" %>
</body>
