<!DOCTYPE html>
<html>
<%= render :partial => 'layouts/menu' %>
  <head>
    <title>Home</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>


  <div class="container" style="width:1000px">
    <body>
      
      <%= yield %>
    </body>
  </div>
</html>